.black{ 
background-color: #000000;
}

.darkgrey{ 
background-color: #212121;
}

.blue {
  background-color: #DAEDFC;
}

.red {
	background-color: #FFE2DF;
}

.green {
	background-color: #E0FFF4;
}

.yellow {
	background-color: #FFFEDE;
}